doctype html
head
span#body.ctr-p
  center
    meta(charset='utf-8')
    meta(name='viewport' width='device-width,' initial-scale='1.0,' maximum-scale='1.0,' user-scalable='0')
    // <style> body {padding: 0; margin: 0;} </style>
    script(src='../p5.min.js')
    script(src='../addons/p5.dom.min.js')
    script(src='../addons/p5.sound.min.js')
    script(src='AI.js')
    script(src='Point.js')
    script(src='BoardPrinter.js')
    script(src='TicTacToe.js')
    script(src='sketch.js')
