extends layoutBS

block content
  .jumbotron
    h1.display-4= title
  
    .card.bg-light.mb-3(style='max-width: 18rem;')
      .card-header 1st
      .card-body
        h5.card-title player1
        p.card-text 98 wins out of 100 games
    .card.bg-light.mb-3(style='max-width: 18rem;')
      .card-header 2nd
      .card-body
        h5.card-title player2
        p.card-text 98 wins out of 110 games
    .card.bg-light.mb-3(style='max-width: 18rem;')
      .card-header 3rd
      .card-body
        h5.card-title player3
        p.card-text 80 wins out of 100 games
    .card.bg-light.mb-3(style='max-width: 18rem;')
      .card-header 4th
      .card-body
        h5.card-title player4
        p.card-text 50 wins out of 100 games
    .card.bg-light.mb-3(style='max-width: 18rem;')
      .card-header 5th
      .card-body
        h5.card-title player5
        p.card-text 17 wins out of 100 games
