extends layoutBS

block content
  
  head
  span#body.ctr-p
    center
      meta(charset='utf-8')
      meta(name='viewport' width='device-width,' initial-scale='1.0,' maximum-scale='1.0,' user-scalable='0')
      script(src='/addons/p5.min.js') 
      script(src='/addons/p5.dom.min.js') 
      script(src='/addons/p5.sound.min.js') 
      script(src='/javascript/Point.js')
      script(src='/javascript/BoardPrinter.js') 
      script(src='/javascript/TicTacToe.js') 
      script(src='/javascript/sketch.js')
      
      
      
